<ion-view title="chat">
	<ion-header-bar align-title="right" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="logout()">Logout</button>
  </div>
</ion-header-bar>

<ion-content>
  <!-- <ion-item ng-if="chat.length" class="textCenter">
      <h4>No messages in this room. Send message to start.</h4>
  </ion-item> -->

	<div ng-repeat="chat in chats">
    <div class="list item-text-wrap">
        <a class="item item-avatar" href="#">
          <img src="img/avatar.jpg">
          <p am-time-ago="chat.createdAt" style="margin-bottom: 0;"class="item-note"></p>
          <h2>{{ chat.username.displayName }}</h2>
          <p>{{ chat.message }}</p>

        </a>
    </div>
	</div>
</ion-content>

<ion-footer-bar>
  <div class="item item-input-inset message-box">
    <label for="" class="item-input-wrapper">
      <input type="text" placeholder="Message" ng-model="message.message">
    </label>
    <button class="button button-small" ng-click="send(message.message)">Send</button>
  </div>
</ion-footer-bar>
</ion-view>

