<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.chatter774785" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Chatter</name>
  <description>
        An Ionic Framework and Cordova project utilizing Firebase for realtime chats.
    </description>
  <author email="aj1hidalgo@gmail.com" href="http://alexjhidalgo.com/">
      https://medium.com/@alexhidalgo
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
